*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'jost',sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    
    width: 100%;
    top: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
h1{
    font-weight: 500;
    letter-spacing: 1px;
}
.navmenu{
    display: flex;
}
.navmenu a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42 ease;
}
.navmenu a:hover{
    color:#ab1e3a ;
}
.nav-icon{
    display: flex;
    align-content: center;
}
.nav-icon i{
    margin-left: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}
.nav-icon i:hover{
    transform: scale(1.2);
    color: #EE1C47;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 1001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(./images/Banner1.jpg);
    background-position:right;
    background-size:cover;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    align-items: center;
    object-fit: fill;
}
.main-text h5{
    color: #ab1e3a;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 500;
    margin: 6px 0 10px;
}
.main-text p{
    color:rgb(10, 35, 125);
    font-size: 20px;
    font-style:italic;
    margin-bottom: 20px;
    font-weight: bolder;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 11px 23px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #111;
    color: aqua;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 89%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #111;
    border: 2px solid #111;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color:#111;
    color:aqua;
    transition: all .42s ease;
}
.sticky{
    background:#fff ;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
}

/* Trending Section Css */

.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 40px;
}
.center-text span{
    color: #ab1e3a;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap:2rem;
}
.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width:100%;
    height: auto ;
    transition: all .40s;
}
.row img:hover{
    transform: scale(0.9);
}
.product-text h5{
    position: absolute;
    top: 15px;
    left: 18px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #ab1e3a;
    padding: 3px 10px;
    border-radius: 2px;
}
.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.heart-icon:hover{
    color: #EE1C47;
}
.ratting i{
    color: #FF8C00;
    font-size: 18px;
}
.price h4{
    color: #111;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.price p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;
}
.client-reviews{
    background-color: #fff;
}
.reviews{
    text-align: center;
}
.reviews img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
}
.reviews h3{
    color: #111;
    font-style: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.reviews p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}
.up-centre-text h2{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}
.cart img{
    width: 380px;
    height: auto;
    margin-bottom: 30px;
}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,auto));
    gap: 7rem;
}
.cart h5{
    color: #636872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
}
.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}


.contact{
    background-color: #f3f4f5;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 3rem;
}
.first-info h1{
    
    margin-bottom: 10px;
    font-size: 40px;
}
.contact-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42;
}
.contact-info p:hover{
    color:#EE1C47;
}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition:  all .42s ease;
}
.social-icon i:hover{
    transform: scale(1.3);
}

/* Responsive-CSS */

@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}
@media(max-width:890px){

    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }
    .main-text p{
        font-size: 18px;
        transition: .4s;
    }
    .main-btn{
        padding: 10px 20px;
        transition: .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position:absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
   .navmenu a{
        display: block;
        margin: 18px 0;
    }
     
    .navmenu .open{
        right: 0;
    }
    .main-text{
        position: absolute;
        left: 35%;
        top: 45%;
    }
    .main-home{
        background-image: url(./images/Banner2.jpg);
        margin-top: 60px;
        background-position: top;
        background-size: 600px;
        object-fit: fill;
        background-repeat: no-repeat;
    } 
    .main-text{
        position: relative;
        top: 10%;
    }
}